body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #45a049;
}

.product-image {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
}
#DEADLINE {
    width: 581px;
    max-width: 100%;
    height: 158PX;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

        

